<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".AlphaMainActivity"
            android:exported="false"
            android:label="@string/title_activity_alpha_main"
            android:theme="@style/Theme.CrashLibsTest" />
    </application>

</manifest>